  <div class="comments">
    <% image.comments.each do |comment| %>
        <%= render partial:  "comments/new_modal_comment", locals: {:comment => comment, :user => user} %>
    <% end %>
  </div>
  <%= form_for comment, url: {controller: 'comments', action: 'image_comment'}, remote: true do |f| %>
      <%= f.hidden_field :image_id, value: image.id  %>
      <div class="panel panel-default comment-block">
        <div class="panel-body">
          <div class="hidden-xs comment-modal-avatar">
            <%= user_image_comment(user_by_guid(@current_user.user_uuid),'thumb') %>
          </div>
          <div class="col-xs-9 col-sm-11 col-md-11 comment-modal-input">
            <%= f.text_area :kasa_comment, required:"", class: "form-control no-border no-shadow", placeholder: "Add comment", rows: "1" %>
          </div>
        </div>
      </div>
  <% end %>
