<div id="comment_<%= comment.id  %>_kasa" class="panel panel-default comment-block">
  <%= link_to 'x', comment, method: :delete, class: "close delete-comment", remote: true %>
  <div class="panel-body row">
    <div class="comment-media col-md-1">
      <%= user_image_comment(user_by_guid(comment.user_uuid),'thumb') %>
    </div>
    <div class="col-md-11 post-comment-block">
      <%= link_to username_by_guid(comment.user_uuid),"/" + username_id_by_guid(comment.user_uuid), class: "text-primary" %><br>
      <%= comment.kasa_comment %> &nbsp;
      <small class="text-muted text-info">
        <i class="fa fa-clock-o"></i>
        <%= time_ago_in_words(comment.created_at) %> ago
      </small>
    </div>
  </div>
</div>