<div class="table-wrap custom-scroll animated fast fadeInRight" style="height: 476px; opacity: 1;">
<table class="table table-striped table-hover table-responsive" id="inbox-table">
<tbody>
<% if message.message_type == 'connect' %>
<tr class="" id="msg_<%= message.id %>">
  <td>
    <a href="/users/connect/approve/<%= message.transaction_id %>" data-remote="true" class="btn btn-success"><i class="fa fa-thumbs-up"></i> Approve</a>
    <a href="/users/connect/deny/<%= message.transaction_id %>" data-remote="true" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> Deny</a>
  </td>
  <td class="inbox-data-from hidden-xs hidden-sm">
    <div>
      Connection Request
    </div>
  </td>
  <td class="inbox-data-message">
    <a href="/<%= username_id_by_guid(message.sender_uuid)%>" rel="popover" data-placement="left auto" data-container="body"
       data-trigger="hover" class="user-pop" data-title="<%= username_by_guid(message.sender_uuid) %>"
       data-html="true" data-content="<%= recent_post(message.sender_uuid) %>">
      <%= username_by_guid(message.sender_uuid) %>
    </a>
    <span>, wants to connect with you</span>
  </td>
  <td class="inbox-data-date hidden-xs">
    <div>
      <%= time_ago_in_words(message.created_at) %> ago
    </div>
  </td>
</tr>
<% end %>
</tbody>
</table>
</div>
