<% if @can_view %>
  <ul class="tab-bar grey-tab">
    <li class="active">
      <a data-toggle="tab" href="#my_timeline">
        <div class="block text-center">
          <i class="fa fa-user fa-2x"></i>
        </div>
        <% if @user.id == @user_id %>
            My Timeline
        <% else %>
            <%= @user.first_name + " Timeline" %>
        <% end %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#my_community">
        <div class="block text-center">
          <i class="fa fa-users fa-2x"></i>
        </div>
        <% if @user.id == @user_id %>
            My Community
        <% else %>
            <%= @user.first_name + " Community" %>
        <% end %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#my_photos">
        <div class="block text-center">
          <i class="fa fa-camera fa-2x"></i>
        </div>
        <% if @user.id == @user_id %>
            My Photos
        <% else %>
            <%= @user.first_name + " Photos" %>
        <% end %>
      </a>
    </li>
    <% if @user.id == @user_id %>
    <li class="message-box">
      <a data-toggle="tab" href="#message" class="message">
        <div class="block text-center">
          <i class="fa fa-envelope fa-2x"></i>
        </div>
        Messages
      </a>
      <% if @messages.count > 0 %>
      <b class="badge noti-badge"><%= @messages.count %></b>
     <% end %>
    </li>
    <% end %>
  </ul>
<div class="tab-content">
<div id="my_timeline" class="tab-pane fade active in">
<div id="user_wrapper" class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <%= user_image(@user,'medium') %>
      <div class="caption">
        <h5 class="text-center"><%= username_by_guid(@user.user_uuid) %></h5>
        <p class="text-center">
          <a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
          <a href="#" class="btn btn-default btn-sm" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
     <% if @user.id == @user_id %>
      <%= form_for @kasa, remote: true do |f| %>
          <%= f.hidden_field :post_by, value: @user_guid  %>
          <div class="panel-body padding-xs">
            <%= f.text_area :post_content, required:"", class: "form-control no-border no-shadow", placeholder: "What's on your mind?", rows: "2" %>
          </div>
          <div class="panel-footer clearfix">
            <%= f.submit 'Kasa', class: "btn btn-md btn-info pull-right" %>
          </div>
      <% end %>
     <% else %>
      <%= form_for @kasa,url: {controller: 'posts',action: 'connected_post', connected_id: @user.id }, remote: true do |f| %>
          <%= f.hidden_field :post_by, value: @user_guid  %>
          <div class="panel-body padding-xs">
            <%= f.text_area :post_content, required:"", class: "form-control no-border no-shadow", placeholder: "Kasa to #{@user.first_name}", rows: "1" %>
          </div>
          <div class="panel-footer clearfix">
            <%= f.submit 'Kasa', class: "btn btn-md btn-info pull-right" %>
          </div>
      <% end %>
     <% end %>
    </div><!-- /panel -->

    <div id="all-kasa-wrapper" class="row">
      <% @kasas.each do |kasa|%>
          <% if kasa.momentable_type == 'Post' %>
              <%= render partial: 'posts/kasa', :locals => {:kasa => find_momentable(kasa.momentable_id, 'Post'), user: @current_user, :comment => @comment} %>
          <% elsif kasa.momentable_type == 'Image'  %>
              <%= render partial: 'posts/my_image', :locals => {:image => find_momentable(kasa.momentable_id, 'Image'), user: @current_user} %>
          <% else %>

          <% end %>
      <% end %>
    </div>
    <div id="delete-modal-wrapper"></div>
  </div>
 </div>
</div>
<div id="my_community" class="tab-pane fade">
  <div class="row">
   <div class="friends-box col-sm-12">
     <% @community_list.each do |friend| %>
     <div class="friends-box-list">
       <a href="/<%= username_id_by_guid(friend.member_uuid)%>" rel="popover" data-placement="left auto" data-container="body"
          class="friend-pop" data-title="<%= username_by_guid(friend.member_uuid) %>"
          data-content="<%= recent_post(friend.member_uuid) %>">
       <%= friend_image(user_by_guid(friend.member_uuid),'thumb') %>
       </a>
     </div>
     <% end %>
   </div>
   </div>
</div>
  <div id="my_photos" class="tab-pane fade">
    <div id="user_wrapper" class="row">
    <div class="col-md-12">
      <div class="row">
      <% @images.each do |image| %>
        <%= render partial: 'images/photo_gallery', locals: {image: image, user: @user}%>
      <% end %>
     </div>
    </div>
   </div>
  </div>

  <% if @user.id == @user_id %>
   <div id="message" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-heading">
        Messages
      </div>
      <div class="panel-body padding-xs messages-wrapper">
        <% @messages.each do |message| %>
        <%= render partial: 'users/messages', :locals => {:message => message, :user => @user} %>
        <% end %>
      </div>
      <div class="panel-footer clearfix">
      </div>
    </div><!-- /panel -->
  </div><!-- /tab4 -->
  <% end %>
</div>
<% elsif request_sent(@current_user) %>
    <% message = request_sent(@current_user) %>
    <div id="my_timeline" class="tab-pane fade active in">
      <div id="user_wrapper" class="row">
        <div class="col-md-2">
          <div class="thumbnail">
            <%= user_image(@user,'medium') %>
            <div class="caption">
              <h5 class="text-center"><%= username_by_guid(@user.user_uuid) %></h5>
            </div>
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="text-info">Request to connect was sent on <i class="fa fa-clock-o"></i> <%= time_ago_in_words(request_sent(@current_user).created_at) %> ago, waiting on <%= @user.first_name %>'s response</h3>
            </div>
          </div><!-- /panel -->

          <div id="all-kasa-wrapper">
            <a href="/users/cancel/request/<%= message.transaction_id %>" class="btn btn-info btn-lg pull-right"><span class="fa fa-eye-slash"></span> Cancel Request </a>
          </div>
          <div id="delete-modal-wrapper"></div>
        </div>
      </div>
    </div>
<% elsif request_receive(@current_user) %>
    <% message = request_receive(@current_user) %>
    <div id="my_timeline" class="tab-pane fade active in">
      <div id="user_wrapper" class="row">
        <div class="col-md-2">
          <div class="thumbnail">
            <%= user_image(@user,'medium') %>
            <div class="caption">
              <h5 class="text-center"><%= username_by_guid(@user.user_uuid) %></h5>
            </div>
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="text-info"><%= @user.first_name %> sent you a connection request at <i class="fa fa-clock-o"></i> <%= time_ago_in_words(message.created_at) %> ago, Approve to continue</h3>
            </div>
            <br>
          </div><!-- /panel -->

          <div id="all-kasa-wrapper">
            <a href="/users/connect_other/approve/<%= message.transaction_id %>" class="btn btn-success btn-lg"><span class="fa fa-thumbs-up"></span> Approve </a>
          </div>
          <div id="delete-modal-wrapper"></div>
        </div>
      </div>
    </div>
<% else %>
    <div id="my_timeline" class="tab-pane fade active in">
      <div id="user_wrapper" class="row">
        <div class="col-md-2">
          <div class="thumbnail">
            <%= user_image(@user,'medium') %>
            <div class="caption">
              <h5 class="text-center"><%= username_by_guid(@user.user_uuid) %></h5>
            </div>
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default">
              <div class="panel-body">
                <a href="/notify/<%= @current_user.user_uuid + "/request/" + @user.user_uuid%>" class="btn btn-primary btn-lg pull-right"><span class="fa fa-compress"></span> Connect</a>
              </div>
          </div><!-- /panel -->

          <div id="all-kasa-wrapper" class="row">

          </div>
          <div id="delete-modal-wrapper"></div>
        </div>
      </div>
    </div>

<% end %>
<% if @can_view %>
<div id="photo-modal-wrapper"></div>
<% end %>
