  <ul class="tab-bar grey-tab">
    <li class="active">
      <a data-toggle="tab" href="#my_timeline">
        <div class="block text-center">
          <i class="fa fa-user fa-2x"></i>
        </div>
        <% if @user.id == @user_id %>
            My Timeline
        <% else %>
            <%= @user.first_name + " Timeline" %>
        <% end %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#my_community">
        <div class="block text-center">
          <i class="fa fa-users fa-2x"></i>
        </div>
        <% if @user.id == @user_id %>
            My Community
        <% else %>
            <%= @user.first_name + " Community" %>
        <% end %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#my_photos">
        <div class="block text-center">
          <i class="fa fa-camera fa-2x"></i>
        </div>
        <% if @user.id == @user_id %>
            My Photos
        <% else %>
            <%= @user.first_name + " Photos" %>
        <% end %>
      </a>
    </li>
  </ul>
<div class="tab-content">
<div id="my_timeline" class="tab-pane fade active in">
<div id="user_wrapper" class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <%= user_image(@user,'medium') %>
      <div class="caption">
        <h5 class="text-center"><%= username_by_guid(@user.user_uuid) %></h5>
        <p class="text-center">
          <a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
          <a href="#" class="btn btn-default btn-sm" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
     <% if @user.id == @user_id %>
      <%= form_for @kasa, remote: true do |f| %>
          <%= f.hidden_field :post_by, value: @user_guid  %>
          <div class="panel-body padding-xs">
            <%= f.text_area :post_content, required:"", class: "form-control no-border no-shadow", placeholder: "What's on your mind?", rows: "2" %>
          </div>
          <div class="panel-footer clearfix">
            <%= f.submit 'Kasa', class: "btn btn-md btn-info pull-right" %>
          </div>
      <% end %>
     <% else %>
      <%= form_for @kasa,url: {controller: 'posts',action: 'connected_post', connected_id: @user.id }, remote: true do |f| %>
          <%= f.hidden_field :post_by, value: @user_guid  %>
          <div class="panel-body padding-xs">
            <%= f.text_area :post_content, required:"", class: "form-control no-border no-shadow", placeholder: "Kasa to #{@user.first_name}", rows: "2" %>
          </div>
          <div class="panel-footer clearfix">
            <%= f.submit 'Kasa', class: "btn btn-md btn-info pull-right" %>
          </div>
      <% end %>
     <% end %>
    </div><!-- /panel -->

    <div id="all-kasa-wrapper" class="row">
      <% @kasas.each do |kasa|%>
          <%= render partial: 'posts/kasa', :locals => {:kasa => kasa, user: @current_user, :comment => @comment} %>
      <% end %>
    </div>
    <div id="delete-modal-wrapper"></div>
  </div>
 </div>
</div>
<div id="my_community" class="tab-pane fade">

</div>
  <div id="my_photos" class="tab-pane fade">
    <div id="user_wrapper" class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <%= user_image(@user,'medium') %>
        <div class="caption">
          <h5 class="text-center"><%= username_by_guid(@user.user_uuid) %></h5>
          <p class="text-center">
            <a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
            <a href="#" class="btn btn-default btn-sm" role="button">Button</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-10">
      <% @images.each do |image| %>
          <%= render partial: 'images/photo_gallery', locals: {image: image}%>
      <% end %>
    </div>
   </div>
  </div>
</div>