<% if @pass_reset %>
<div class="pass_access container">
<%= form_for @user, url: {controller:"users", action: "password_request_update", id: @user.id}, html:{class:"form-signin"}, role:"form" do |f| %>
      <%= error_messages_for(@user) %>
      <h2 class="form-signin-heading">Password Reset Form</h2>
      <hr>
      <%= f.label "New Password", class: "control-label" %>
      <%= f.password_field :password, required: "", :class => 'form-control input-lg', autofocus:"" %>
      <br>
      <%= f.label :password_confirmation, class: "control-label" %>
      <%= f.password_field :password_confirmation, required: "", :class => 'form-control input-lg' %>
      <br>
      <%= f.submit "Update",class: "btn btn-lg btn-primary" %>
<% end %>
</div>
<% else %>
   <div class="row bad_access">
    <div class="panel panel-danger">
      <div class="panel-heading">Access Not Valid</div>
      <div class="panel-body">
        <p>Temporary Access Not Valid</p>
      </div>
    </div>
   </div>
<% end %>