<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <% if @user_logged_in == nil || @user_logged_in == false%>
      <div class="col-lg-6 hidden.sm hidden-xs text-center" id="home_image">
        <%= image_tag 'makasa_network.jpg', class: 'img-thumbnail img-responsive' %>
      </div>
      <div class="col-lg-6 sign-up-form">
        <%= render partial: 'users/new'%>
      </div>
  <% else %>
      <div class="page-header">
        <h2>Latest Kasa's</h2>
      </div>
      <div class="col-lg-12">
        <div class="row" id="posts">
          <%= render partial: "posts/posts", :locals => { :posts => @posts, :comment => @comment } %>
        </div>
        <div class="row text-center">
          <%= link_to 'Get Older Post', posts_path(:page => @posts.next_page), :class => 'load-more-posts text-center btn btn-default', :remote => true if @posts.next_page %>
        </div>
      <% if @posts.next_page %>
        <div class="row text-center" id="loading">
          <%= image_tag('loading.gif') %>
        </div>
      <% end %>
        <div id="delete-modal-wrapper"></div>
      </div>
      <div id="photo-modal-wrapper" class="col-lg-12"></div>
  <% end %>
</div>





