<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <% if @user_logged_in == nil || @user_logged_in == false%>
      <div class="col-lg-6" id="home_image">
      </div>
      <div class="col-lg-6 sign-up-form">
        <%= render partial: 'users/new'%>
      </div>
  <% else %>
      <div class="page-header">
        <h2>Latest Kasa's</h2>
      </div>
      <div class="col-lg-12">
        <div class="row" id="posts">
          <% @posts.each do |post|%>
              <% if post.is_connected == false %>
              <div class="timeline-item">
                <div class="timeline-info">
                  <div class="media">
                    <%= user_image(user_by_guid(post.post_by),'thumb') %>
                  </div>
                </div>
                <div id="single_post_<%= post.id %>" class="panel panel-default timeline-panel">
                  <div class="panel-heading">
                    <%= link_to username_by_guid(post.post_by),"/" + username_id_by_guid(post.post_by),class: "text-info" %>
                    <small class="pull-right text-muted">
                      <i class="fa fa-clock-o"></i>
                      <%= time_ago_in_words(post.created_at)%> ago
                    </small>
                  </div>
                  <div class="panel-body">
                    <p>
                      <%= post.post_content %>
                    </p>
                    <a class="btn btn-xs btn-default">Read more</a>
                  </div>
                  <div class="comments">
                  <% post.comments.each do |comment| %>
                       <%= render partial:  "comments/new_comment", locals: {:comment => comment} %>
                  <% end %>
                 </div>
                  <%= form_for @comment, remote: true do |f| %>
                      <%= f.hidden_field :post_id, value: post.id  %>
                      <div class="panel panel-default comment-block">
                          <div class="panel-body row">
                            <div class="comment-media col-md-1">
                              <%= user_image_comment(user_by_guid(@current_user.user_uuid),'thumb') %>
                            </div>
                            <div class="col-md-10">
                              <%= f.text_area :kasa_comment, class: "form-control no-border no-shadow", placeholder: "Add comment", rows: "2" %>
                            </div>
                            <div class="col-md-1">
                              <%= f.submit 'Comment', class: "btn btn-default btn-md comment-btn", remote: true %>
                            </div>
                          </div>
                        </div>
                  <% end %>
                </div><!-- /panel -->
              </div>
               <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>




