<div class="row">
  <div class="image-view col-md-7">
  <% if @next_img_id %>
    <a class="next" href="/images/<%= @next_img_id %>/display_other/<%= user.id %>" data-remote="true"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
  <% end %>
  <% if @previous_img_id %>
    <a class="prev" href="/images/<%= @previous_img_id %>/display_other/<%= user.id%>" data-remote="true"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
  <% end %>
   <%= image_tag(image.photo.url(:original), class: 'img-preview img-responsive') %>
  </div>
  <div class="col-md-5">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <div class="img-comment">Comment goes here</div>
  </div>
</div>
